body {
    background-color: #23252C;
}

.container {
    max-width: 320px;
    background-color: #1A1B21;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
}

.info-heading, .info-title, .about-me-heading, .about-me-descrip {
    margin: 0;
}

/* INFO SECTION STYLES */
.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info--theme {
    margin-left: 85%;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    background-color: inherit;
    border: none;
    color: inherit;
    cursor: pointer;
}

.info-pict {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.info-heading {
    font-size: 25px;
}

.info-title {
    color: #F3BF99;
    font-size: 13px;
    margin-top: 5px;
}

.info-website {
    font-size: 11px;
    margin-top: 10px;
    font-style: normal;
    text-decoration: none;
    color: white;
}

.info-website:hover {
    text-decoration: underline;
}

.info-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-contact > a {
    width: 28%;
    padding: 9px 13px;
    margin-top: 15px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

.info-email {
    color: #374151;
    background-color: white;
    margin-left: 35px;
    border: 1.5px solid black;
}

.info-email:hover {
    background-color: rgb(206, 206, 206);
}

.info-linkedin {
    background-color: #5093E2;
    color: inherit;
    margin-right: 35px;
    color: white;
    border: 1.5px solid #5093E2;
}

.info-linkedin:hover {
    background-color: #4480c4;
}

.info-icon {
    padding-right: 5px;
}

/* ABOUT AND INTEREST STYLES */

.about-me-section {
    margin: 27px 35px 0;
}

.about-me-heading {
    font-size: 16px;
}

.about-me-descrip {
    margin-top: 5px;
    font-size: 11px;
    line-height: 150%;
}

/* FOOTER STYLES */
.footer-section {
    background-color: #161619;
    margin-top: 35px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 20px;
}

.footer-section > a {
    font-size: 25px;
    color: #918E9B;
    padding: 0 12px;
}

.footer-section > a:hover {
    color: #DCDCDC;
}


/* ****************************LIGHT STYLES*************************************** */

.container.light {
    background-color: rgb(238, 238, 238);
    color: black;
}

.container.light .info-website {
    color: inherit;
}

.container.light .info-title {
    color: #ce0202;
}

.container.light .info-contact > a {
    border: 1.5px solid rgb(63, 63, 63);
}

.container.light .footer-section > a:hover {
    color: rgb(46, 46, 46);
}


.container.light .footer-section {
    background-color: rgb(216, 216, 216);
}

